.card-success {border-color: #2fa52f!important}
.card-danger {border-color: #c43f3f!important}
.card-success, .card-danger {
    padding: 5px;
    border: 3px solid;
    /* border-radius: 30px; */
}

/* .main-card{
    margin: auto;
    cursor: pointer;
    padding: 0 20px;
    user-select: none;
} */

@media (max-width: 768px) {
    .main-card > span {
        font-size: 20vw!important;
    }
}

.main-card > span {
    margin: auto;
    cursor: pointer;
    font-size: 11vw;
    /* padding: 0 20px; */
    user-select: none;
    border: 3px solid transparent;
    display: block;
    overflow: hidden;
    align-items: center;
    display: flex!important;
}
/* .main-card span img {
    height: 160px;
    object-fit: contain;
    max-width: 200px!important;
} */
