.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-logo {
    width: 45px;
    margin-right: 5px;
}
.timer-time, .timer-logo {
    display: inline-block;
    font-family: "DelaGothicOne";
    color: rgb(255, 255, 250);
}